<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>

<h1>Clients</h1>
<ul>
{% for client in object_list %}
    <li><h3>{{ client.name }}</h3></li>
    <li>type: {{ client.type }}</li>
    <li>date created: {{ client.date_created }}</li>
    <li>
        <ul>Industries:
            {% for industry in client.industries.all %}
            <li>{{ industry.name }}</li>
            {% endfor %}
        </ul>
    </li>

{% empty %}
    <li>No clients yet.</li>
{% endfor %}
</ul>

</body>
</html>